.bg{
	background-image: url("media/cover.jpg");
	background-size: cover;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */

}

#container-fluid{
	margin: 15% 30%;
}

#menu{
	font-size: 20px;
	text-shadow: 2px 2px #ffffff;
}

html{
	font-family: Tahoma, Arial, sans-serif;
}

#banner{
	margin-left: 500px;
	margin-top: 220px;
}

big{
	font-size: 7.5vw;
}

p{
	font-size: 2.5vw;
	text-shadow: 2px 2px #ffffff;
}

a{
	padding: 25px;
}

@media only screen and (max-width: 600px) {
	.bg {
	  background-image: url("media/cover_for_mobile.png");
	}
  }